@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #379af0;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.sleeps {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.sleep-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.sleep-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.sleep-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.sleep-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label,
.inputs {
  display: block;
}

.inputs {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.rest-pass-input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 8px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

nav {
  display: flex;
  align-items: center;
}

nav a,
nav button {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

.signup-prompt {
  font-size: 14px;
  margin-bottom: 10px;
}

.star {
  margin-left: -5px !important;
  vertical-align: bottom !important;
  opacity: 0.5;
}

.more {
  opacity: 0.5 !important;
}

.taskbtn:hover {
  color: black !important;
}

.vl {
  margin: 8px !important;
  width: 2px;
  border-right: 1px solid #aaaaaa;
  height: 25px;
}

.plus {
  opacity: 0.8;
}

.card {
  border-radius: 12px !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 350px;
  height: 330px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.popup .icon {
  margin: 5px 0px;
  width: 100px;
  height: 100px;
  border: 4px solid #34f234;
  display: inline-block;
  border-radius: 50%;
  line-height: 92px;
}

.popup .icon .fa {
  font-size: 60px;
  color: #34f234;
}

.popup .title {
  margin: 5px 0px;
  font-size: 25px;
  font-weight: 600;
}

.popup .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.popup .dismiss-btn button {
  padding: 10px 15px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.expire {
  width: 350px;
  height: 350px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.expire .icon {
  margin: 5px 0px;
  width: 100px;
  height: 100px;
  border: 4px solid #f23434;
  display: inline-block;
  border-radius: 50%;
  line-height: 92px;
}

.expire .icon .fa {
  font-size: 60px;
  color: #f23434;
}

.expire .title {
  margin: 5px 0px;
  font-size: 25px;
  font-weight: 600;
}

.expire .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.expire .dismiss-btn button {
  padding: 10px 15px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.expire .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.verify {
  width: 400px;
  height: 350px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.verify .icon {
  margin: 5px 0px;
  width: 100px;
  height: 100px;
  border: 4px solid #348df2;
  display: inline-block;
  border-radius: 50%;
  line-height: 92px;
}

.verify .icon .fa {
  font-size: 60px;
  color: #348df2;
}

.verify .title {
  margin: 5px 0px;
  font-size: 25px;
  font-weight: 600;
}

.verify .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.verify .dismiss-btn button {
  padding: 10px 15px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.verify .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.in-use {
  width: 350px;
  height: 325px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.in-use .icon {
  margin: 5px 0px;
  width: 100px;
  height: 100px;
  border: 4px solid #f23434;
  display: inline-block;
  border-radius: 50%;
  line-height: 92px;
}

.in-use .icon .fa {
  font-size: 60px;
  color: #f23434;
}

.in-use .title {
  margin: 5px 0px;
  font-size: 25px;
  font-weight: 600;
}

.in-use .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.in-use .dismiss-btn button {
  padding: 10px 15px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.in-use .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.otp-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-box {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 440px;
}

.otp-box .otp-icon {
  margin: 10px 0px 20px 0px;
  width: 100px;
  height: 100px;
  border: 4px solid #007bff;
  display: inline-block;
  border-radius: 50%;
  line-height: 92px;
}

.otp-box .otp-icon .fa {
  font-size: 60px;
  color: #007bff;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-input {
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.otp-button {
  width: 100%;
  background-color: #007bff;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.google-sign-in {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: white;
  color: #555;
}

.google-hr {
  max-width: 400px;
  margin: auto;
  margin-bottom: 25px;
}